.submitbtm
{
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid black;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
}

.nice
{
    display: flex;
    justify-content: center;
}